<div class="h-full">
  <div class="h-full relative flex items-center justify-evenly border-2 border-gray-400 bg-grey-700 border-dashed" appDragAndDrop (fileDropped)="fileDropped($event)">
    <div class="w-64 h-36 flex flex-col items-center justify-evenly">
      <div class="text-center font-semibold">{{ title }}</div>
      <div>or</div>
      <input class="hidden" type="file" id="fileDropRef" multiple (change)="fileBrowse($event)" />
      <label class="btn btn-primary flex justify-center" for="fileDropRef">
        Browse for file(s)
      </label>
    </div>
  </div>
</div>
