<div class="grid h-screen gap-1 bg-black grid-cols-2 grid-rows-4">
  <app-canvas-wrapper
    class="row-span-3"
    #mainCanvas
    [image]="image"
    [viewState]="viewState"
    (viewStateChange)="updateViewState($event)"
    [position]="position"
    (positionHoverChange)="updatePosition($event)"
  >
<!--        (click)="canvasClick(index)"-->
  </app-canvas-wrapper>
  <app-canvas-wrapper
    class="row-span-3"
    #secondaryCanvas
    [image]="image"
    [viewState]="viewState"
    (viewStateChange)="updateViewState($event)"
    [position]="position"
    (positionHoverChange)="updatePosition($event)"
  >
  </app-canvas-wrapper>
  <div class="bg-white col-span-2" [formGroup]="formGroup">
    <div>
      <input formControlName="red" type="range" id="red" min="0" max="8">
      <label for="red">R</label>
    </div>
    <div>
      <input formControlName="green" type="range" id="green" min="0" max="8">
      <label for="green">G</label>
    </div>
    <div>
      <input formControlName="blue" type="range" id="blue" min="0" max="8">
      <label for="blue">B</label>
    </div>
    <button (click)="encodeIntoImage()">ENCODE</button>
    <button (click)="decodeData()">DECODE</button>
    <app-file-upload></app-file-upload>
  </div>
<!--  <app-canvas class="col-span-2" (click)="canvasClick($event)" [imageSrc]="imageSrc" (viewState)="updateViewState($event)"></app-canvas>-->
<!--  <app-canvas class="col-span-1" (click)="canvasClick($event)" [imageSrc]="imageSrc" [setViewState]="viewState"></app-canvas>-->
<!--  <app-canvas class="col-span-1" (click)="canvasClick($event)" [imageSrc]="imageSrc" [setViewState]="viewState"></app-canvas>-->
  <!--  <app-control-board class="absolute m-4 p-10 border border-4" [pixel]="pixel"></app-control-board>-->
<!--  <button class="absolute left-4 bottom-4" (click)="change()">CHANGE</button>-->
</div>
