<ng-template [ngIf]="fileWrappers.length > 0" [ngIfElse]="noFilesTmplRef">
  <div class="border-2 my-2 border-grey-800 bg-grey-700">
    <div *ngIf="title" class="flex items-center justify-center text-xl font-bold p-2 border-b-2 border-grey-800">{{ title }}</div>
    <table class="custom-table w-full">
      <thead>
      <tr>
        <td>Name</td>
        <td>Size</td>
        <td>Operation</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of fileWrappers; let i = index">
        <td>{{ file.file.name }}</td>
        <td>{{ file.humanReadableSize }}</td>
        <td>
          <div class="flex flex-col">
            <button
              *ngIf="includeDelete"
              class="focus:outline-none h-full text-white text-xl py-1 px-2 bg-red-700 hover:bg-red-600 hover:shadow-lg"
              (click)="delete.emit(i)"
            >
              DELETE
            </button>
            <button
              *ngIf="includeDownload"
              class="focus:outline-none h-full text-white text-xl py-1 px-2 bg-red-700 hover:bg-red-600 hover:shadow-lg"
              (click)="download(i)"
            >
              DOWNLOAD
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #noFilesTmplRef>
  <div class="p-4 my-2 border-2 border-grey-800 bg-grey-700 flex justify-center items-center font-semibold text-xl">
    No files
  </div>
</ng-template>
