<div class="h-screen flex flex-col justify-center items-center bg-gray-800">
  <div class="uppercase text-9xl text-white mb-12">Image stenography</div>
  <button
    class="focus:outline-none flex justify-around items-center w-1/2 py-2 px-4 text-white text-9xl rounded bg-blue-600 hover:bg-blue-800 hover:shadow-lg m-0.5 mb-12"
    routerLink="/encode"
  >
    <span class="flex-grow">ENCODE</span>
    <div class="w-28 flex justify-center">
      <img src="assets/icons/lock.svg" class="w-20"/>
    </div>
  </button>
  <button
    class="focus:outline-none flex justify-around items-center w-1/2 py-2 px-4 text-white text-9xl rounded bg-green-600 hover:bg-green-800 hover:shadow-lg m-0.5"
    routerLink="/decode"
  >
    <span class="flex-grow">DECODE</span>
    <div class="w-28 flex justify-center">
      <img src="assets/icons/lock-open.svg" class="w-24"/>
    </div>
  </button>
</div>
