@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply w-full flex font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer
}

.btn:disabled {
  @apply bg-grey-400 hover:bg-grey-400
}

.btn-primary {
  @apply text-white bg-blue-600;
}

.btn-primary:hover {
  @apply text-white bg-blue-700
}

.btn-secondary {
  @apply text-white bg-gray-600;
}

.btn-secondary:hover {
  @apply text-white bg-gray-700
}

.btn-success {
  @apply text-white bg-green-600;
}

.btn-success:hover {
  @apply text-white bg-green-700
}

.btn-danger {
  @apply text-white bg-red-600;
}

.btn-danger:hover {
  @apply text-white bg-red-700
}

.btn-warning {
  @apply text-black bg-yellow-500;
}

.btn-warning:hover {
  @apply text-black bg-yellow-600
}

.btn-info {
  @apply text-white bg-teal-500;
}

.btn-info:hover {
  @apply text-white bg-teal-600
}

.btn-light {
  @apply text-black bg-gray-200;
}

.btn-light:hover {
  @apply text-black bg-gray-300
}

.btn-dark {
  @apply text-white bg-gray-900;
}

.btn-dark:hover {
  @apply text-white bg-black
}

.btn-link {
  @apply text-blue-500;
}

.btn-link:hover {
  @apply text-blue-800;
}


.alert {
  @apply relative px-5 py-3 mb-2 rounded border border-transparent;
}

.alert-primary {
  @apply text-blue-800 bg-blue-200 border-blue-300;
}

.alert-secondary {
  @apply text-gray-800 bg-gray-300 border-gray-400;
}

.alert-success {
  @apply text-green-800 bg-green-200 border-green-300;
}

.alert-danger {
  @apply text-red-800 bg-red-200 border-red-300;
}

.alert-warning {
  @apply text-yellow-800 bg-yellow-200 border-yellow-300;
}

.alert-info {
  @apply text-indigo-800 bg-indigo-200 border-indigo-300;
}

.interface {
  @apply border border-black bg-grey-600 p-2 m-0.5 flex flex-col justify-between overflow-y-auto;
}

.interface-item {
  @apply rounded border-2 border-grey-800 p-1 my-2 bg-grey-700;
}

/*
 ************************ CUSTOM RANGE ************************
 */

input[type=range].custom-range {
  background-color: transparent;
  height: 38px;
  -webkit-appearance: none;
  width: 100%;
}

input[type=range].custom-range:focus {
  outline: none;
}
input[type=range].custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range].custom-range::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range].custom-range:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range].custom-range::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range].custom-range::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  /*background: #FFFFFF;*/
  cursor: pointer;
}
input[type=range].custom-range::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].custom-range::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range].custom-range::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range].custom-range::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].custom-range:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range].custom-range:focus::-ms-fill-upper {
  background: #3071A9;
}
